/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
Label
{
	-fx-font-size: 20px;
}

TextField {
	-fx-text-box-border: #DBB1B1 ;
    -fx-control-inner-background: #FFF0F0 ;
	-fx-text-box-border: #DBB1B1 ;
    -fx-control-inner-background: #FFF0F0 ;
    -fx-focus-color: #FF2020 ;
    -fx-faint-focus-color: #FF202020 ;

}

Spinner TextField {
	-fx-background-color: pink;
	-fx-text-fill: red;
	-fx-highlight-fill: yellow;
	
}

Button:hover {
	-fx-background-color: yellow;
}


.vignette {
	-fx-border-style: dashed;
	-fx-border-radius: 20px;
	-fx-border-color: #FF00FF;
}

.vignette:hover Label{
	-fx-text-fill: red;
}

#labelEntre2Bouttons {
	-fx-font-family: Broadway; 
	-fx-font-size: 20px;
	-fx-background-color: pink;
}

.familleCouleurVerte {
	-fx-text-fill: #008b00;
}

.titre {
	-fx-font-size: 30px;
	-fx-font-family: "Comic Sans MS";
}

DrawerPane {
	-fx-background-color: #183650;
}

.command-bar-menu-button {
	-fx-background-color: #E89759;
	-fx-border-radius: 0px;
}

.command-bar-menu-button Line {
	-fx-stroke: #FFFFFF;
	-fx-stroke-width: 3px;
	
}

.command-bar-menu-button:hover {
	-fx-background-color: #EDAD7E;
}
*/

.jauge {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ProgressBarSkin";*/
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

.green-bar {
	-fx-accent: green;
}

.orange-bar {
	-fx-accent: orange;
	-fx-text-fill: #F0F0F0;
}

.red-bar {
	-fx-accent: red;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.jauge .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to bottom, derive(-fx-accent,38%), -fx-accent);
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.jauge:indeterminate .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.jauge .track {
     -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-15%), derive(-fx-color,2.2%) 20%, derive(-fx-color,60%));
    -fx-background-insets:  0, 1;
}

.jauge:disabled {
    -fx-opacity: -fx-disabled-opacity;
}