/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
Label
{
	-fx-font-size: 20px;
}

TextField {
	-fx-text-box-border: #DBB1B1 ;
    -fx-control-inner-background: #FFF0F0 ;
	-fx-text-box-border: #DBB1B1 ;
    -fx-control-inner-background: #FFF0F0 ;
    -fx-focus-color: #FF2020 ;
    -fx-faint-focus-color: #FF202020 ;

}

Spinner TextField {
	-fx-background-color: pink;
	-fx-text-fill: red;
	-fx-highlight-fill: yellow;
	
}

Button:hover {
	-fx-background-color: yellow;
}


.vignette {
	-fx-border-style: dashed;
	-fx-border-radius: 20px;
	-fx-border-color: #FF00FF;
}

.vignette:hover Label{
	-fx-text-fill: red;
}

#labelEntre2Bouttons {
	-fx-font-family: Broadway; 
	-fx-font-size: 20px;
	-fx-background-color: pink;
}

.familleCouleurVerte {
	-fx-text-fill: #008b00;
}

.titre {
	-fx-font-size: 30px;
	-fx-font-family: "Comic Sans MS";
}

DrawerPane {
	-fx-background-color: #183650;
}

.command-bar-menu-button {
	-fx-background-color: #E89759;
	-fx-border-radius: 0px;
}

.command-bar-menu-button Line {
	-fx-stroke: #FFFFFF;
	-fx-stroke-width: 3px;
	
}

.command-bar-menu-button:hover {
	-fx-background-color: #EDAD7E;
}
*/
